<footer class="footer">
    <span class="footer__copyright">本站由 T~T搭建，基于 <a href="https://ghost.org/" target="_blank" rel="nofollow">Ghost</a> 采用 <a href="https://github.com/tindytian/tno" target="_blank" rel="nofollow">Tno</a>作为主题</span>
    <span class="footer__copyright">服务器搭建在 <a href="https://www.digitalocean.com/?refcode=3bf42644a15f" target="_blank" rel="nofollow">DigitalOcean</a>&nbsp&nbsp，图片存储在 <a href="https://portal.qiniu.com/signup?code=3lmzbynlznrki" target="_blank" rel="nofollow">七牛云存储。</a></span>
    <span class="footer__copyright">版权所有 &copy {{date format="YYYY"}}  typeof.cn </span>
</footer>
</footer>
