.menu,
.slideout-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
    width: 256px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: none;
}

.slideout-panel {
    position: relative;
    z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

//menu
.menu {
    background-color: #1D1F20;
    box-shadow: inset -1px 0 3px rgba(0, 0, 0, .3);
    a {
        color: $white;
    }
}

.menu-header {
    border-bottom: 1px solid #2a2d2f;
    padding: 20px 0 20px 60px;
}

.menu-section {
    margin: 10px 0 25px 0;
}

.menu-section-title {
    text-transform: uppercase;
    color: #85888d;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 20px;
    margin: 0;
}

.menu-section-list {
    padding: 0;
    margin: 10px 0;
    list-style: none;
    a {
        display: block;
        padding: 10px 20px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
            text-decoration: none;
        }
    }
    i {
        padding-right: 10px;
    }
}

.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    display: inline-block;
    float: right;
    height: 38px;
    padding: 0 15px;
    border-style: solid;
    border-width: 1px;
    opacity: 1;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    border-radius: 3px;
    @include transition(all 0.5s ease);
    &:focus {
        outline: 0;
    }
    &:hover {
        background: $white;
        color: $gray-dark;
    }
    &.invert {
        background: $white;
        color: $gray-dark;
        border-color:$gray-dark;
    }
    &.invert:focus{
        outline: 1;
    }
    &.invert:hover{
        color: $primary-color;
        border-color:$primary-color;
    }
}

.menu-button {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.6);
    &:hover {
        color: $gray-darker;
    }
}

.slideout-open .menu-button {
    padding: 0 12px;
    background: #1D1F20;
    border-color: #1D1F20;
    color: $white;
    @include transform (translate3D(230px, 0, 0));
}

.slideout-open .fa-bars {
    &:before {
        content: "\f00d";
    }
}

.hide-navbar {
    @include transform(translate(0, -90px));
    opacity: 0;
    filter: alpha(opacity=0);
}
